/* styles/17-style.css */

/* Universal box-sizing rule */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Normalize CSS from Necolas (CDN version) */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Your custom styles follow the normalize.css */

:root {
  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 2.3rem;
  --font-size-xx-large: 4.8rem;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --line-height-small: 1.2;
  --line-height-base: 1.5;
  --line-height-big: 1.8;
  --section-header-align: center;
  --section-tagline-transform: uppercase;
  --section-title-margin: 0;
  --section-title-color: black;
  --color-light-grey: #f0f0f0;
  
  /* Custom Padding Properties */
  --section-padding: 5rem 0;
  --section-header-padding: 0 0 3rem;
  --section-body-padding: 0 0 3rem;
  --section-footer-padding: 3rem 0 0;
  --section-footer-align: center;
  --footer-padding: 5rem 0 1rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--font-size-medium);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
}

a {
  text-decoration: none;
}

a:visited {
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color: var(--color-light-grey);
}

.section-header {
  text-align: var(--section-header-align);
  padding: var(--section-header-padding);
}

/* Apply padding from section-padding for all sections */
.section {
  padding: var(--section-padding);
}

.section-tagline {
  font-family: var(--font-family-title);
  text-transform: var(--section-tagline-transform);
  font-weight: var(--font-weight-bold);
}

/* Apply padding to section-body */
.section-body {
  padding: var(--section-body-padding);
}

/* Apply padding and alignment to section-footer */
.section-footer {
  padding: var(--section-footer-padding);
  text-align: var(--section-footer-align);
}

/* Apply padding to footer */
footer {
  padding: var(--footer-padding);
}

.container {
  width: 960px;
  margin: 0 auto;
}

.section-title {
  font-family: var(--font-family-title);
  font-size: var(--font-size-xx-large);
  font-weight: var(--font-weight-bold);
  margin: var(--section-title-margin);
  color: var(--section-title-color);
}
