/* styles/24-style.css */

/* Target card-title inside card-services */
.card-services .card-title {
    margin: 0;
  }
  
  /* Target a inside card-services */
  .card-services a {
    display: block;
    padding: 2rem;
    background-color: var(--color-light-grey);
  }
  
  /* Target the hover state of a inside card-services */
  .card-services a:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    text-decoration: none;
  }
  