/* styles/28-style.css */

/* Create custom properties */
:root {
    --header-padding: 4rem 0 0;
    --header-logo-position: relative;
    --header-logo-link-display: inline-block;
    --header-logo-link-position: absolute;
    --header-logo-link-top: -1rem;
    --header-logo-link-left: 0;
  }
  
  /* Create a header class selector */
  .header {
    padding: var(--header-padding);
  }
  
  /* Create a header-logo class selector */
  .header-logo {
    position: var(--header-logo-position);
  }
  
  /* Target the link inside the header-logo class */
  .header-logo a {
    display: var(--header-logo-link-display);
    position: var(--header-logo-link-position);
    top: var(--header-logo-link-top);
    left: var(--header-logo-link-left);
  }
  